body {
		background-color: #282828;
}

div {
		background-color: #134358;
		border: 3px solid white;
		height: 100px;
}

div.container, div.row {
		border: 0 none;
		margin-bottom: 0;
}

.col.s12 {
		height: 200px;
}